input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.border-transparent {
  border-color: transparent !important;
}

.overFlowAutoY::-webkit-scrollbar {
  width: 6px;
  border-radius: 24px;
}
.overFlowAutoY::-webkit-scrollbar-track {
  border-radius: 24px;
  /* background: #d9d9d9; */
}
.overFlowAutoY::-webkit-scrollbar-thumb {
  border-radius: 24px;
  background: #d2d5d8;
  margin: 10px 2px;
}
.overFlowAutoY::-webkit-scrollbar-thumb:hover {
  border-radius: 24px;
  /* background: #555; */
}

/* ---- */
.overflowXAuto::-webkit-scrollbar {
  height: 4px;
  border-radius: 24px;
}
.overflowXAuto::-webkit-scrollbar-track {
  border-radius: 24px;
  /* background: #d9d9d9; */
}
.overflowXAuto::-webkit-scrollbar-thumb {
  border-radius: 24px;
  background: #d2d5d8;
  margin: 10px 2px;
}
.overflowXAuto::-webkit-scrollbar-thumb:hover {
  border-radius: 24px;
  /* background: #555; */
}
/* ---- */
/* Toggle Container */
.toggle-container {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 24px;
}
.react-datepicker-wrapper {
  display: flex;
}
.toggle-input {
  display: none;
}
.toggle-label {
  background-color: #c8c8c8;
  border-radius: 34px;
  cursor: pointer;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  transition: background-color 0.3s ease;
}
.toggle-label::after {
  content: "";
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 2px 4px 0px #07070740;
  height: 18px;
  left: 3px;
  position: absolute;
  top: 3px;
  transition: transform 0.3s ease;
  width: 18px;
}

.toggle-input:checked + .toggle-label {
  background-color: #006555;
}

.toggle-input:checked + .toggle-label::after {
  transform: translateX(16px);
}
/* ----- */

.animate-spin {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #6366f1;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.PhoneInputCountry {
  display: none !important;
}
.PhoneInputInput:focus-visible {
  border: none;
  outline: none;
}

.gm-style img[alt="Google"],
.gmnoprint,
.gm-style-cc {
  display: none !important;
  opacity: 0 !important;
  z-index: -1 !important;
}

.border-transparent {
  border-color: transparent !important;
}
/* your global css or tailwind override */
.custom-datepicker-wrapper .react-datepicker-wrapper {
  width: 100%;
}

.custom-datepicker-wrapper .react-datepicker-popper {
  z-index: 9999999999 !important;
}
/* ---- */
.overFlowXScroll::-webkit-scrollbar {
  height: 4px;
  position: absolute !important;
  border-radius: 24px;
}
.overFlowXScroll::-webkit-scrollbar-track {
  border-radius: 24px;
  background: #d9d9d9;
}
.overFlowXScroll::-webkit-scrollbar-thumb {
  border-radius: 24px;
  background: #919191;
  margin: 10px 2px;
}
.overFlowXScroll::-webkit-scrollbar-thumb:hover {
  border-radius: 24px;
  background: #919191;
}
.mapboxgl-canvas {
  width: 100% !important;
  height: 100% !important;
}
.mapboxgl-ctrl.mapboxgl-ctrl-scale {
  display: none !important;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* ----wizard------ */
.stepper-wrapper {
  width: 100%;
  display: flex;
  /* gap: 28px; */
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.progress {
  content: "";
  width: 0%;
  height: 1px;
  position: absolute;
  z-index: -1;
  transition: width 1s;
}

.screen-indicator {
  background-color: #eaecf0;
  width: calc(100% - 30px);
  height: 2px;
  transition: 0.7s all;
  z-index: 1;
  border-radius: 6px;
}
.screen-indicator.screen-more {
  min-width: 18% !important;
}
.screen-index {
  border: 7px solid #f9fafb;
  background: #eff1f5;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.screen-indicator-span {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 11.11%;
  color: #344054;
  white-space: nowrap;
}
.screen-indicator.completed {
  background-color: #277252;
}

.screen-indicator-span.current .screen-index {
  background-color: #006555;
  box-shadow: 0px 0px 0px 4px #eef3f7;
  border-color: #edfcf2;
}
.screen-indicator-span.completed .screen-index {
  color: #099250;
  background-color: #099250;
}
@media only screen and (max-width: 1279px) {
  .overFlowAutoY::-webkit-scrollbar {
    height: 6px;
    border-radius: 24px;
  }
  .overFlowAutoY::-webkit-scrollbar-track {
    border-radius: 24px;
  }
  .overFlowAutoY::-webkit-scrollbar-thumb {
    border-radius: 24px;
    background: #d2d5d8;
    margin: 10px 2px;
  }
  .overFlowAutoY::-webkit-scrollbar-thumb:hover {
    border-radius: 24px;
  }
}
/* @media only screen and (min-width: 576px) and (max-width: 767px) {
  .stepper_main {
    overflow-x: auto;
  }
  .stepper-wrapper {
    width: 1150px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .stepper_main {
    overflow-x: auto;
  }
  .stepper-wrapper {
    width: 1200px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1279px) {
  .stepper_main {
    overflow-x: auto;
  }
  .stepper-wrapper {
    width: 1250px;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1430px) {
  .stepper_main {
    overflow-x: auto;
  }
} */
/* ------ */

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.custom-shimmer {
  position: relative;
  overflow: hidden;
  background-color: #eeeeee;
}

.custom-shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(224, 224, 224, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(224, 224, 224, 0) 100%
  );
  background-repeat: no-repeat;
  transform: translateX(-100%);
  animation: shimmer 2.5s infinite;
}
.maplibregl-ctrl-attrib.maplibregl-compact-show {
  visibility: hidden !important;
}
.maplibregl-ctrl-bottom-left .maplibregl-ctrl {
  display: none !important;
}

/* Custom Navigation Buttons */
.custom-swiper .swiper-button-prev,
.custom-swiper .swiper-button-next {
  background-color: white;
  border: 1x solid #dcdfea !important;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: auto;
  bottom: 10px !important;
}

.custom-swiper .swiper-button-prev::after,
.custom-swiper .swiper-button-next::after {
  font-size: 10px;
  color: #5f6368;
}

.custom-swiper .swiper-pagination-bullet {
  background-color: #2a2a2a;
  width: 10px;
  height: 10px;
  opacity: 0.5;
}

.custom-swiper .swiper-pagination {
  position: absolute;
  bottom: 16px !important;
  left: 50% !important;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  background-color: #111322;
  width: max-content !important;
  border-radius: 30px;
  padding: 2px;
}

.custom-swiper .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.8);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  margin: 0 !important;
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: #012a23;
  width: 24px;
  border-radius: 10px;
}

#chatbase-bubble-button,
#chatbase-bubble-button {
  bottom: 5rem !important;
}

.filterDrawer {
  z-index: 99999999999999999 !important;
}
.mapboxgl-canvas {
  width: 100% !important;
  height: 100% !important;
}
.mapboxgl-ctrl.mapboxgl-ctrl-scale {
  display: none !important;
}
.galleryImage .custom-swiper .swiper-button-prev,
.galleryImage .custom-swiper .swiper-button-next {
  width: 34px !important;
  height: 34px !important;
  top: 53% !important;
  bottom: auto !important;
}

.galleryImage .custom-swiper .swiper-pagination-bullet,
.galleryImage .custom-swiper .swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
}

.galleryImage .custom-swiper .swiper-pagination {
  bottom: 10px !important;
  padding: 4px !important;
}

.galleryImage .custom-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.galleryImage .custom-swiper .swiper-pagination-bullet-active {
  width: 28px !important;
  border-radius: 10px;
}
/* ---- */
